/* Reset */
body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Utils */

.grey-color {
    color: #959595;
}

.highlighted {
    background-color: yellow;
}

/* Header */

.main-header {
    background-image: url('../img/pattern.png');
    background-repeat: repeat-x;
    background-color: hsl(211.4, 94.5%, 64.3%);
    height: 150px;
}

.logo {
    height: 40%;
    margin-top: 80px;
    margin-left: 10px;
}

/* Main */

.main-main {
    margin: 8px;
}

.main-images {
    margin-left: 0;
}

.main-title {
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 10px;
}


.article-author {
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: bold;
}

.article-date {
    font-size: smaller;
    margin-top: 5px;
}

.main-list {
    padding: 0;
    margin-left: 15px;
}

/* Footer */

.main-footer {
    margin: 8px;
    margin-top: 35px;
}

.footer-title {
    font-weight: bold;
}

.first-footer-image {
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    padding-top: 9px;
    padding-left: 9px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.second-footer-image {
    background-image: url('../img/graph.jpg');
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    padding-top: 9px;
    padding-left: 9px;
    color: white;
    font-weight: bold;
}